/**
* Rəngli v0.1.0
* Copyright 2016-2017, MohammadJavadQasemi <javad@geeksesi.xyz>
* https://github.com/geeksesi/Rangli
* Licence : none
* https://geeksesi.xyz
*/
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there. These media queries have been taken from Twitter's Bootstrap for
compatibility reasons.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 544px) {}

/* Larger than tablet */
@media (min-width: 768px) {}

/* Larger than desktop */
@media (min-width: 992px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

