/**
* Rəngli v0.1.0
* Copyright 2016-2017, MohammadJavadQasemi <javad@geeksesi.xyz>
* https://github.com/geeksesi/Rangli
* Licence : none
* https://geeksesi.xyz
*/

/* Info
--------------------------------------------------
* Rəngli has custom style & color & base this main fail forked from [Meshki v1.5.1](https://borderliner.github.io/Meshki/)
* Rəngli has more color like :
- Dark
- Light
* Rəngli's main file is base style that include :

- $default-font-family:              'Open Sans';
- $default-rtl-font-family:          'IranSans';
- $default-font-weight:              400;
- $container-max-width:              960px;
- $container-width-mobile:           100%;
- $container-width-phablet:          85%;
- $container-width-tablet:           80%;

// Device responsive
- $media-mobile:                     400px;
- $media-phablet:                    544px;
- $media-tablet:                     768px;
- $media-desktop:                    992px;
- $media-desktop-hd:                 1200px;

// buttons
- $button-small-size:                1.2rem;
- $button-medium-size:               1.6rem;
- $button-large-size:                2.2rem;

// responsive nav (side nav)
- $sidenav-width:                    250px;
- $sidenav-animation-duration:       0.5s;

- $other-animation-duration:         0.3s;

// Responsive grids
- $one-column-width:                 4.66666666667%;
- $two-columns-width:                13.3333333333%;
- $three-columns-width:              22%;
- $four-columns-width:               30.6666666667%;
- $five-columns-width:               39.3333333333%;
- $six-columns-width:                48%;
- $seven-columns-width:              56.6666666667%;
- $eight-columns-width:              65.3333333333%;
- $nine-columns-width:               74%;
- $ten-columns-width:                82.6666666667%;
- $eleven-columns-width:             91.3333333333%;
- $twelve-columns-width:             100%;

* tip :
- main style hasn't any color to add color use Dark.css or Light.css or ... with main.css
*/

/* normalize style import
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url("normalize.css");

/* fontAwesome font's style import
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url("../fonts/font-awesome.css");

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
    height: 100%;
}

/* General attributes of the body tag */
body {
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    font-weight: 400;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Removed focus outlines, especially in Firefox */
a.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0 !important;
}

/* Simple button, with no style */
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  margin: 5px !important;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 10px;
  transition: .3s;
  font-size: 1.6rem;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  line-height: normal !important; /* Fix Midori bug */
  /* Button expands out of boundary bug */
  max-width: 98%;
}

a.button.small,
button.small,
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small {
  font-size: 1.2rem;
}

a.button.medium,
button.medium,
input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium {
  font-size: 1.6rem;
}

a.button.large,
button.large,
input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large {
  font-size: 2.2rem;
}


.button-couple button:not(:first-child):not(:last-child),
.button-couple a:not(:first-child):not(:last-child) {
  pointer-events: none;
  border-style: none;
  border-radius: 0;
  display: block;
  margin: -5px auto !important;
}

@media (min-width: 768px) {
  .button-couple button:first-child,
  .button-couple a:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0 !important;
    border-right-style: none;
  }

  .button-couple button:not(:first-child):not(:last-child),
  .button-couple a:not(:first-child):not(:last-child) {
    border-style: solid;
    display: inline;
    margin: -5px !important;
  }

  .button-couple button:last-child,
  .button-couple a:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0 !important;
    border-left-style: none;
  }
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Single code, default style */
code {
  font-size: 90%;
  white-space: nowrap;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
}

/* pre is used for a block of code */
pre {
  background-color: transparent;
  border-radius: 5px;
  overflow-x: auto;
  white-space: normal;
}

/* If the code is the immediate child of pre */
pre > code {
  display: inline;
  white-space: pre;
  border: none;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* The footer tag, or a div with footer (Useful for IE) */
footer, .footer {
  max-width: 100%;
  margin: 25px 0 0 0;
  padding: 25px 50px 0 50px;
  text-align: center;
}

/* Remove bottom margins of columns */
footer .col,
.footer .col {
  margin-bottom: 0px;
}

/* Remove bottom margin of .row for footer, it takes lots of space */
footer .row,
.footer .row {
  margin-bottom: 0px;
}

/* Align the text of the footer to the left for non-mobile */
@media (min-width: 544px) {
  footer, .footer {
    text-align: left;
  }
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General attributes */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  border-radius: 4px;
  padding: 0px 10px;
  box-sizing: border-box;
  transition: border .3s, background-color .3s, box-shadow .3s;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding: 6px 10px;
}


/* Label and Legend normalization */
label,
legend {
  font-weight: normal;
  display: block;
  margin-bottom: .5rem;
}

/* Fieldset normalization */
fieldset {
  border-radius: 5px;
  padding: 20px !important;
  margin: 10px 5px !important;
}

/* Checkbox and Radio normalization */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* Round input, for every mood! */
input.round, textarea.round, button.round, .button.round {
  border-radius: 20px;
}

/* Checkboxes and Radio buttons */

/* Make the actual boxes invisible */
input[type="checkbox"], input[type="radio"] {
  position: absolute;
  opacity: 0;
}

/* Checkbox and radio normalization */
input[type="checkbox"], label.checkbox, input[type="radio"], label.radio {
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

/* Labels for checkboxes and radios have relative position to their parent */
label.checkbox, label.radio {
  position: relative;
}

/* General attributes for checkboxes and radio buttons */
input[type="checkbox"] + label.checkbox:before, input[type="radio"] + label.radio:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  padding: 2px;
  margin: auto 10px 3px auto;
  vertical-align: middle;
  text-align: center;
  transition: background-color .3s, box-shadow .3s;
}

/* Round shape for radio boxes */
input[type="radio"] + label.radio:before {
  border-radius: 20px;
}

/* Remove outlines of checkboxes and radio buttons, especially for Firefox */
input[type="checkbox"]:focus + label.checkbox, input[type="radio"]:focus + label.radio {
  outline: none !important;
}

/* Style input range */
input[type=range] {
  -webkit-appearance: none;
  margin: 0 5px;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 26px;
  cursor: pointer;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 22px;
  width: 22px;
  border-radius: 25px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 23px;
  cursor: pointer;
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 25px;
  cursor: pointer;
}

/* Fix Firefox outline bug */
input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 26px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 25px;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Center the row, used to hold columns */
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Content creates a responsive space to hold page data */
.content {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Columns fill their parent from the left side */
.col {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* Decrease the content width for non-mobiles */
@media (min-width: 400px) {
  .content {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 544px */
@media (min-width: 544px) {
  /* Decrease content width for a proper look */
  .content {
    width: 80%;
  }

  /* Left margin for columns so they do not collide */
  .col {
    margin-left: 4%;
  }

  /* The first column doesn't need left margin */
  .col:first-child {
    margin-left: 0;
  }

  .one.col                    { width: 4.66666666667%; }
  .two.col                    { width: 13.3333333333%; }
  .three.col                  { width: 22%;            }
  .four.col                   { width: 30.6666666667%; }
  .five.col                   { width: 39.3333333333%; }
  .six.col                    { width: 48%;            }
  .seven.col                  { width: 56.6666666667%; }
  .eight.col                  { width: 65.3333333333%; }
  .nine.col                   { width: 74%;            }
  .ten.col                    { width: 82.6666666667%; }
  .eleven.col                 { width: 91.3333333333%; }
  /* Fill the row, with no margin on the left */
  .twelve.col                 { width: 100%; margin-left: 0; }

  /* Proportional columns */
  .one-third.col,
  .one.third.col              { width: 30.6666666667%; }
  .two-thirds.col,
  .two.thirds.col             { width: 65.3333333333%; }

  /* Half of the container columns */
  .one-half.col,
  .one.half.col                { width: 48%; }

  /* Offsets */
  .offset-by-one.col          { margin-left: 8.66666666667%; }
  .offset-by-two.col          { margin-left: 17.3333333333%; }
  .offset-by-three.col        { margin-left: 26%;            }
  .offset-by-four.col         { margin-left: 34.6666666667%; }
  .offset-by-five.col         { margin-left: 43.3333333333%; }
  .offset-by-six.col          { margin-left: 52%;            }
  .offset-by-seven.col        { margin-left: 60.6666666667%; }
  .offset-by-eight.col        { margin-left: 69.3333333333%; }
  .offset-by-nine.col         { margin-left: 78.0%;          }
  .offset-by-ten.col          { margin-left: 86.6666666667%; }
  .offset-by-eleven.col       { margin-left: 95.3333333333%; }

  .offset-by-one-third.col    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.col   { margin-left: 69.3333333333%; }

  .offset-by-one-half.col     { margin-left: 52%; }
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Unordered Lists have empty disc style */
ul {
  list-style: disc;
}

/* Ordered Lists have numerical style */
ol {
  list-style: decimal;
}

/* Change the style of nested lists */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

/* Lists have bottom margin */
li {
  margin-bottom: 1rem;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Default <hr> tag */
hr {
  border-width: 0;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.content:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General attributes */

nav, .nav {
  height: 0;
}

nav ul,
.nav ul {
  width: 100%;
  padding: 0;
  margin-top: 0px;
  list-style-type: none;
  overflow: hidden;
  z-index: 1;
}

/* Fixed Navbar properties */
nav.fixed,
.nav.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Elements in the navbar start from the left side */
nav ul li,
.nav ul li {
  float: left;
  margin-bottom: 0px;
}

/* Anchors inside lists' attributes */
nav ul li > a,
.nav ul li > a {
  display: inline-block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
}

/* Buttons positioning on navbar */
nav ul li > a.button,
nav ul li > button,
nav ul li > input,
.nav ul li > a.button,
.nav ul li > button,
.nav ul li > input {
  margin: 7px 5px auto 5px !important;
}

/* Send the elements to the right side with nav-right */
li.nav-right {
  position: inherit;
  float: right !important;
}

/* Send the elements to the left side with nav-left */
li.nav-left {
  position: inherit;
  float: left !important;
}

/* Fix for #2 issue, where nav-dropdown-content would go off the screen. */
li.nav-dropdown.nav-right .nav-dropdown-content {
  right: 0;
}

li.nav-dropdown.nav-right ~ .nav-dropdown .nav-dropdown-content {
  right: auto;
}

/* Navigation Dropdown Button */
li.nav-dropdown {
  display: inline-block;
}

/* Dropdown content attributes */
.nav-dropdown-content {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  transition: visibility .2s, opacity .2s ease-in-out;
}

/* Each link in dropdown's content */
.nav-dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}


/* Display the content when the mouse is on dropdown's button */
.nav-dropdown:hover .nav-dropdown-content {
  visibility: visible;
  opacity: 1;
}


/* Sidenav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; /* changes with meshki.js */
  position: fixed;
  z-index: 10; /* Stays on top of everything, unless a modal is implemented */
  top: 0;
  left: -1px;
  padding-top: 15px;
  overflow-x: hidden;
  transition: 0.5s;
}

/* Pushes the container div with effect */
.container {
  position: absolute;
  width: 100%;
  transition: margin-left .5s, margin-right .5s;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: inline;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity .5s, visibility .5s;
}

/* The links inside side navigation panel */
.sidenav a {
  display: block;
  font-size: 1.8rem;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  outline: 0 !important;
}

/* The buttons inside side navigation panel */
.sidenav button {
  margin-right: 20px !important;
  margin-left: 20px !important;
  width: 84%;
  min-width: 150px;
}

/* No color change for disabled sidenav links */
.sidenav a[disabled] {
  cursor: default;
}

.sidenav a[disabled]:hover {
  pointer-events: none;
  cursor: default;
}

/* Special form of <hr> for sidenav */
.sidenav hr {
  width: 80%;
}

/* Position and style the close button (top right corner) */
.sidenav-close-button {
  font-size: 3.6rem !important;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px !important;
  outline: 0 !important;
}

/* Change the style of the sidenav for non-mobiles */
@media (min-width: 544px) {
  .sidenav {
    padding-top: 60px;
  }

  .sidenav a {
    font-size: 25px;
  }
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General attributes */
table {
  border-spacing: 0px;
}

/* Padding and stuff for each cell */
th,
td {
  padding: 12px 15px;
  text-align: left;
}

/* First and last children (most right and most left cells) do not need padding */
th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}


/* Centerizes the texts inside each cell */
table.centerize > thead th,
table.centerize > tbody td {
  text-align: center;
}

/* Hover effect activated for each row */
table.hover > tbody tr {
  transition: background-color 0.3s;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Increase font sizes for devices larger than phablet */
@media (min-width: 544px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
}


/* Utility
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Make element full width */
.expand {
  width: 100%;
  box-sizing: border-box;
}

/* Make sure elements don't run outside containers (great for images in columns) */
.responsive {
  max-width: 100%;
  box-sizing: border-box;
}

/* Float either direction */
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/* Center an element */
.centerize {
  margin-left: auto;
  margin-right: auto;
}

/* Center a text */
.text-center {
  text-align: center;
}

/* Hides the element on mobiles and phablets */
@media (max-width: 544px) {
  .hide-on-mobile {
    display: none !important;
  }

  .vertical-line {
    border-left: none;
  }
}

/* Hides the element on tablets and smaller */
@media (max-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }
}

/* Hides the element on desktops */
@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}

/* Hides the element on non-mobile and non-phablets */
@media (min-width: 544px) {
  .hide-on-non-mobile {
    display: none !important;
  }
}

